@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

.card {
  @apply rounded-lg shadow-md p-4 bg-white dark:bg-gray-800;
}

.progress-bar {
  @apply w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700;
}

.progress-fill {
  @apply bg-blue-600 h-2.5 rounded-full transition-all duration-300;
}